* {
    padding: 0;
    margin:0;
    background: gray;
}


 h1{
    /* text-align: center; */
    padding:1rem;
     
}

label {
    /* align-items: center; */
    margin-left: 2rem;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
    line-height: 10px;
}


.textInput{
    margin-left: 20px;
    /* margin-top: 2rem; */
    display: block;
    text-align: center;
    width: 70%;
    height: 2rem;
    border-radius: 5px;
    border:2px solid red; 
    align-items: center;
    background: chocolate;

}


#gender{
    margin-left: 2rem;
    color: blue;
    font-size:20px ;
}

form{
    align-items: center;
    margin: auto;
    /* padding: 2rem; */
}
.formContainer{
    /* border: 2px solid red; */
    align-items: center;    

}
.container{
    padding: 40px;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    align-self: center;
    padding-left: 10rem;
    
}

.submitButton{
    margin: 20px;
    color: blue;
    background: red;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 10px;
}