* {
    padding: 0;
    margin:0;
}

form{
     /* margin: 3rem; */
     /* text-align: center; */
}

form h1{
    color: red;
    text-align: center;
}

label {
    margin-left: 1rem;
}


input{
    margin-left: 20px;
    margin-top: 2rem;
    display: block;
    text-align: center;
}